.navbar .container {
    position: relative;
    z-index: 2;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
    width: fit-content;
    margin: auto 0;
}

.actions-list {
    opacity: 0;
    position: absolute;
    top: 50px;
    right: 30px;
    border: 1px solid black;
    width: 200px;
    z-index: 33;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px 0;
    transition: opacity 0.5s ease;
}

.actions-list p {
    color: black;
    padding: 10px;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
    transition: padding 1s ease;
}

.actions-list p i {
    margin-right: 5px;
}

.actions-list p:hover {
    padding-left: 20px;
}

.fa-solid.fa-angle-down {
    position: relative;
    padding: 12px 20px 0 10px;
    cursor: pointer;
}

.logout-btn {
    margin: 0;
    text-align: left;
    cursor: pointer;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.65);
    width: 110px;
}

@media (min-width:992px) {

    .logout-btn,
    .nav-item.dashboard {
        display: none;
    }
}

@media (max-width:991px) {
    .nav-item.profile-icon {
        display: none;
    }

    .btn.btn-primary {
        margin-top: 8px;
    }
}