@keyframes slideInMobile {
    from {
        transform: translateX(30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.img-fluid {
    transition: all 0.4s ease;
    margin-bottom: 10px;
}

.img-fluid {
    border-radius: 8px;
}

.img-fluid:hover {
    transform: scale(1.02);
}